
body{
margin:0;
padding:0;
background:black;
overflow-x:hidden;
font-family:Arial, Helvetica, sans-serif;
color:white;
}

.background-container{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-10;
background:linear-gradient(-120deg,#313131,#4affb4,#4f4f4ed2);
}

#starsCanvas
{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-9;
pointer-events:none;
}

#insectCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    pointer-events: none; 
}

.logo-background{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:30vw;
height:50vw;

max-width:450px;
max-height:700px;

background-position:center;
background-repeat:no-repeat;
background-size:contain;

opacity:0.05;
filter:blur(3px);

pointer-events:none;
}

.navbar{

padding:18px 0;

background:rgba(0,0,0,0.85);

box-shadow:0 0 25px rgba(4, 186, 89, 0.833);

}

.navbar-brand{
font-weight:bold;
font-size:22px;
letter-spacing:1px;
}
.hero{

min-height:90vh;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

padding:120px 20px 80px 20px;

position:relative;
z-index:2;

}

.titulo {
    font-size: 75px; 
    font-weight: 900;
    margin-bottom: 25px;
    font-family: 'Black Ops One', system-ui;
    letter-spacing: 5px; 
    
    text-transform: uppercase; 
}


.subtitulo {
    font-family: 'JetBrains Mono', monospace;
    font-size: 22px;
    letter-spacing: 1px;
    opacity: 0.8;
    color: whitesmoke;
}

.botao-hero{

display:inline-block;

padding:15px 35px;

background:linear-gradient(45deg,#105b38,#00cc66);

color:rgb(251, 208, 208);

font-size:18px;
font-weight:bold;

border-radius:40px;

text-decoration:none;

transition:0.3s;

box-shadow:0 0 20px rgba(0,255,120,0.5);

}

.botao-hero:hover{

transform:scale(1.08);

box-shadow:0 0 35px rgba(0,255,120,0.9);

}

section.container{
margin-top:80px;
margin-bottom:120px;
position:relative;
z-index:2;
}

section h2{

font-size:40px;
font-weight:bold;
margin-bottom:50px;

}


.carousel{

border-radius:20px;
overflow:hidden;

box-shadow:0 10px 40px rgba(0,0,0,0.8);

}


.carousel img{

height:420px;
object-fit:cover;

}


.carousel-caption{

background:rgba(0,0,0,0.6);
padding:15px;
border-radius:10px;

}


footer{

background:#000;

padding:40px;

text-align:center;

margin-top:120px;

border-top:1px solid rgba(255,255,255,0.1);

}

footer p{
margin:0;
color:#aaa;
font-size:14px;
}

.spray{

position:fixed;
top:0;
left:-100%;

width:100%;
height:100%;

background:linear-gradient(
90deg,
transparent,
rgba(0,255,150,0.15),
transparent
);

animation:sprayMove 2s ease forwards;

z-index:5;
pointer-events:none;

}

@keyframes sprayMove{

0%{
left:-100%;
}

100%{
left:100%;
}

}

.glitch{

animation:glitchText 2s ease forwards;

}

@keyframes glitchText{

0%{
opacity:0;
transform:translateY(40px);
filter:blur(10px);
}

60%{
filter:blur(2px);
}

100%{
opacity:1;
transform:translateY(0);
filter:blur(0);
}

}

#typing::after{
content:"|";
margin-left:5px;
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}

#typing::after {
    content: "|";
    margin-left: 5px;
    color: #00ff88;
    animation: blinkCursor 0.8s infinite steps(2);
}

@keyframes blinkCursor {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

